*{
    margin: 0px;
    padding: 0px;
}
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
main{
    width: 100vw;
    height: 100vh;
    background-image: url(natu.jpg);
    position: relative;
    background-size: cover;

}
section{
    width: 30vw;
    height: 50vh;
    font-size: 35px;
    position: absolute;
    color: maroon;
    top: 130px;
    left: 35vw;
    font-family: 'Tektur', cursive;
}
.h1{
    width: 30vw;
    text-align: center;
}
.box{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
input{
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px
}
.count-down{
    width: 60px;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}